.cont_rezultat_entry
{
    width:          230px;
    height:         auto;
    border-bottom:  1px solid #454545;
    overflow:       hidden;
    font-size:      14px;
    color:          #c9c9c9;
    padding:        5px;
    text-indent:    -7px;
    padding-left:   7px;
    margin-left:    5px;
}

.cont_rezultat_entry:hover
{
    background-image: url("../imgs/black30.png");
    cursor: default;
}

.cont_uname
{
	/*text-decoration: underline;*/
}
	.cont_rezultat_entry:hover > .cont_uname
	{
		text-decoration: none;
	}

.cont_pname
{
	font-weight: bold;
}
	.cont_rezultat_entry:hover > .cont_pname
	{
	    font-weight: normal;
	}

.cont_zup
{
	font-style: italic;
}
    .cont_rezultat_entry:hover > .cont_zup
    {
        font-style: normal;
    }

