.cont_rezultat_entry
{
    width:          230px;
    height:         auto;
    border-bottom:  1px solid #454545;
    overflow:       hidden;
    font-size:      14px;
    /*color:          #a9a9a9;*/
    color:          #c9c9c9;
    padding:        5px;
    text-indent:    -7px;
    padding-left:   7px;
    margin-left:    5px;
}

.cont_rezultat_entry:hover
{
    background-image: url("../imgs/black30.png");
    cursor: default;
}
