@charset "UTF-8";

a
{
    font-family: fantasy;
     color: #BBB;
}
a:visited
{
     color: #BBB;
}
a:hover
{
     color: #FFF;
     
}

form
{
    margin-top: 30px;
}

input[type=email], input[type=password], input[type=text], select, textarea
{
    background-color: transparent; 
    background-image: url("../imgs/black30.png");
    color: #8e949f;
    border: 1px solid #2b2e39;
    padding: 5px;
    border-radius: 5px;
    color: #DDD;
    font-size: 14px;
}

.button_important
{
	border: 1px dashed #FF0000;
	padding: 5px;
	padding-left:15px;
    padding-right:15px;
    border-radius: 5px;
    background-color: transparent; 
    background-image: url("../imgs/black30.png");
}

.button_generic
{
	font-size: 16px;
	color: #EFEFEF;
	border: 1px solid #2b2e39;
    padding: 5px;
    padding-left:15px;
    padding-right:15px;
    border-radius: 5px;
	background-color: transparent; 
    background-image: url("../imgs/black30.png");
}

.file_generic
{
    font-size: 12px;
    color: #EFEFEF;
    border: 1px solid #2b2e39;
    padding: 5px;
    padding-left:15px;
    padding-right:15px;
    border-radius: 5px;
    background-color: transparent; 
    background-image: url("../imgs/black30.png");
}