@charset "UTF-8";

/*  Formatting of results in search bar */
@import url("searchResults.css");
/*  Formatting of product editing   */
@import url("adminP.css");
/*  Formatting of standard HTML elements    */
@import url("stdElements.css");
/*  Formattign of top-right drop-down   */
@import url("userPanel.css");

body
{
    background-image:   url("../imgs/food-sunset-love-field.jpg");
    background-repeat:  no-repeat;
    color:              #EFEFEF;
    font-family:        fantasy;
    line-height:        20px;
    overflow:           scroll;
}
/*  Container with image, top-center    */
#cont_header
{
    width:              600px;
    height:             150px;
    margin-left:        auto;
    margin-right:       auto;
}

#cont_wrapper
{
	margins:       auto;
	width:         auto;
	height:        auto;
    border-radius: 10px;
    min-width:     1200px;
}

#cont_brzo_trazenje
{
    border:         1px dashed #eeeeec;
    border-radius:  10px;
    float:          left;
    min-width:      250px;
    background-image: url("../imgs/orange10.png");
}

	.search_box
	{
	    width:  230px;
	    margin: 20px;
	    margin-bottom: 5px ;
	    font-size: 16px;
	    background-image: url("../imgs/black30.png");
	}
	
	#cont_rezultati
	{
	    margin:        10px;
	    min-height:    400px;
	    overflow-y:    scroll;
	    border: 1px solid #454545;
	    background-image: url("../imgs/black10.png");
	}
	
#cont_pregled
{
    border:         1px solid #454545;
    background-image: url("../imgs/black20.png");
    border-radius:  10px;
    float:          left;
    margin-left:    20px;
    min-width:      800px;
    width:          70%;
    min-height:     400px;
    padding:        15px;
    text-align:     justify;
}

    .proizvod_slika
    {
        float:      left;
        width:      250px;
        
    }
    .proizvod_opis
    {
        float:      left;
        margrin:    auto;
        max-width:  500px;
        padding:    10px;
        
    }
    
    #form_register
    {
        padding:    50px;
        padding-top: 0px;
        text-align: center;
    }
    #form_register > p
    {
        background-image: url("../imgs/black10.png");
        padding: 5px;
        margin: 5px;
        text-align: center;
        font-size: 17px;
    }
    #form_register > table
    {
        text-align: left;
    }
    
    /*  Tooltip formatting  */
    .tt_user
    {
        position: relative;
    }

    /*  Declaration of tooltip in desktop/mobile files  */
       
    .tt_cont::after
    {
        content: "";
        position: absolute;
        top: 100%;
        left: 25%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #321a00 transparent transparent transparent;
    }
    
    .tt_user:hover .tt_cont
    {
        visibility: visible;
        opacity: 1;
    }
   
    
    #subcont_kontakt
    {
        background-image: url("../imgs/black10.png");
    }
    #subcont_kontakt > p
    {
        margin-left: 20px;
        padding: 5px;
    }
    
    
#cont_footer
{
    border-top:     1px solid #454545;
    height:         30px;
    width:          100%;
    margin-top:     50px;
    margin-bottom:  -40px;
    text-align:     center;
}
    #cont_footer > a
    {
        display:    inline-block;
        margin:     auto;
        padding:    5px;
    }

